allow system_app bg_daemon_prop:file read;
allow system_app bootloader_boot_reason_prop:file read;
allow system_app boottime_prop:file read;
allow system_app cnd_vendor_prop:file read;

# Torch
allow system_app sysfs_torch:file rw_file_perms;
allow system_app sysfs_torch:dir search;

# Vibrator
allow system_app sysfs_vibrator:file rw_file_perms;
allow system_app sysfs_vibrator:dir search;

# Kcal
allow system_app sysfs:dir search;
allow system_app sysfs:file rw_file_perms; 
